<html>
	<head>
		<title> Anjali's website</title>
		<style> 
		table, th, td {
  			border: 1px solid white;
  			border-collapse: collapse;
			}			
		th, td {
 	 		background-color: #96d4D4;
			}
		</style>
	</head>
	<body>
		<h1> This is a test Website <h1>

		<table>
			<tr> 
				<th>Name </th>
				<th> Age</th>
				<th> Gender</th>

			</tr>
			<tr>
				<td> Abhishek </td>
				<td>20 </td>
				<td>Male </td>
			</tr>

			<tr>
				<td>Swati</td>
				<td>19 </td>
				<td>Female </td>

                        </tr>
			<tr>
				<td>Anjali</td>
				<td>19 </td>
				<td>Female </td>

                        </tr>


		</table>

	</body>
</html>
